APP_ENVIRONMENT=dev
APP_DATABASE_URL=postgresql+asyncpg://marketplace:marketplace@localhost:5432/marketplace
APP_DATABASE_URL_SYNC=postgresql://marketplace:marketplace@localhost:5432/marketplace
APP_JWT_SECRET=change_me_phase_3
